{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
 
{% block content %}
{% for post in posts %}
{% if post and post.is_active %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{% if post.author.profile.avatar %}{{ post.author.profile.avatar.url }}{% else %}{{ post.author.profile.get_avatar }}{% endif %}">
    <div class="media-body">
        <div class="article-metadata">
        <a class="mr-2" href="{% url 'profile:profile_detail' post.author.pk %}">{{ post.author.username }}</a>
        <small class="text-muted">{{ post.created_at|date:"F d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'post:post_detail' post.pk %}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content|truncatewords:30 }}</p>
        <div>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post:post_detail' post.pk %}">Далее</a>
        </div>
    </div>
</article>
{% else %}
<article class="media content-section">
  <div class="media-body">
      <p class="article-content">Нет постов</p>
  </div>
</article>
{% endif %}
{% endfor %}
<div class="pagination justify-content-center"> 
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        
        <a class="btn btn-outline-info mb-4 mr-1" href="?page=1">Первая</a>
        <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4 mr-1" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.next_page_number }}">Следующая</a>
        <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
      {% endif %}

    {% endif %}
  </div>
{% endblock %}