{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="{% static 'core/css/main.css' %}" rel="stylesheet" type="text/css">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
{% include "header.html" %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8">
            {% if messages %}
        	  {% for message in messages %}
          	<div class="alert alert-{{ message.tags }}">
            	{{ message }}
          	</div>
        	  {% endfor %}
            {% endif %}
            {% block content %}{% endblock content %}
        </div>
        <div class="col-md-4">
            <div class="content-section">
              <h5 class="text-center">Фильтр</h5>
                <ul class="list-group">
                  <li class="list-group-item list-group-item-light"><i class='bx bxs-like bx-tada-hover'></i> Популярные</li>
                  <li class="list-group-item list-group-item-light"><i class='bx bxs-hot bx-tada-hover'></i> Обсуждаемые</li>
                </ul>
              </p>
            </div>
        </div>        
  </div>
</main>  
{% include "footer.html" %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>