{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock title %}
 
{% block content %}
<article class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Редактирование поста</legend>
            {{ form.as_p }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Обновить</button>
        </div>
    </form>
</article>
{% endblock %}